*{
  box-sizing: border-box;
}

*{
  font-family: "gill sans", sans-serif;
}

main{
  background-image: url("../banner.jpg");
  background-size: cover;
  margin-left: -9px;
  margin-right: -12px;
  margin-top: -22px;
}
.logo{
  margin-top: 20px;
  margin-left: 45px;
  border-radius: 46px;
}
footer{
  color: grey;
}
